* {
  box-sizing: border-box;
}

.container {
  width: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Helvetica, sans-serif;
}

body {
  font-family: Verdana, Helvetica, sans-serif;
}

.navbar {
  margin-bottom: 0px;
  background: rgba(26, 37, 63, 0.85);
  z-index: 100;
}

#schedule-title {
  width: 100%;
  padding-top: 7px;
  text-align: center;
  color: #FCFCFC;
}

#games-container {
  margin-top: 50px;
}

.game {
  display: block;
  background-color: #EDEDED;
  padding: 10px;
  padding-bottom: 20px;
  margin: 20px 0px;
  border-radius: 5px;
}

.game li {
  list-style-type: none;
}

.game-date {
  text-align: center;
  margin-bottom: 5px;
  font-size: 10px;
}

.game-time {
  text-align: center;
  margin-bottom: 10px;
  font-size: 10px;
}

.teams {
  text-align: center;
  margin-bottom: 10px;
  display: inline;
}

.game-details {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.venue {
  display: inline-block;
  text-align: center;
  font-size: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.broadcast {
  text-align: center;
  font-size: 10px;
  display: inline;
}

.team-info-container {
  text-align: center;
  margin-bottom: 5px;
}

.team-info-container img {
  width: 18px;
  height: auto;
  margin-bottom: 3px;
  margin-right: 3px;
}

.glyphicon-headphones, .glyphicon-facetime-video, .glyphicon-tag {
  font-size: 10px;
  text-align: left;
}

.glyphicon-info-sign {
  display: inline;
  text-align: center;
}

.buy-ticket-container {
  text-align: center;
}

.buy-ticket {
  padding: 5px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: rgba(163, 163, 160, 1);
}

.buy-ticket:focus {
  outline: none !important;
}

.buy-ticket:active {
  outline: none !important;
}

.buy-ticket:hover {
  background-color: rgba(163, 163, 160, .75);
}

.ticket-link {
  font-size: 10px;
  margin-top: 10px;
  color: white;
  font-weight: 600;
  text-align: center;
  display: inline;
}

.ticket-link:hover {
  cursor: pointer;
}
